/* font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

.root {
    --top-color: #1b1b1b;
    --body-background-color: #f9f9fb;
    --nav-color: #4e4e4e;


    /* --top-link-color: #872bff; */
}

body {
    background-color: f9f9fb;
}

header {

    .top {

        text-align: center;
        color: var(--top-color);
        padding: 20px;
        /* border-bottom: 1px solid red; */

        a {
            text-decoration: none;
            color: #872bff;
        }
    }

    nav {
        width: 100%;
        height: 70px;
        /* border: 1px solid black; */
        background-color: var(--nav-background-color);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        justify-content: space-between;

        .logo {
            img {
                width: 230px;
                height: 60px;
                cursor: pointer;
            }
        }
    }

    .menu {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        ul {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 20px;
            list-style-type: none;
            line-height: 25px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            li {
                margin: 0;
                padding: 10PX;
                position: relative;


                a {
                    margin: 0;
                    text-decoration: none;
                    font-weight: light;
                    font-size: 15px;
                    color: #4e4e4e;
                    display: block;
                }

                &:hover ul {
                    display: block;

                }

                ul {
                    position: absolute;
                    left: 0;
                    top: 50px;
                    display: none;
                    padding: 0;

                    li {
                        padding: 20px 0px;
                        background: #fffffff4;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                        height: 25px;
                        line-height: 25px;
                        width: 100%;

                        a {
                            font-size: 14px;
                        }

                    }
                }
            }
        }

    }

    .search {

        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #4e4e4e;


        .searchbox {
            width: 90px;
            height: 30px;
            border: 1px solid #4e4e4e;
            border-radius: 50px;
            margin: 0px 16px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: text;

            p {
                color: blue;
                font-weight: 900;

            }

            .searchbox:active {
                width: 150px;
            }

        }



        .login {
            width: 80px;
            cursor: pointer;
            font-size: 10px;
            text-align: center;
        }

        .signup {
            width: 150px;
            height: 30px;
            padding: 5px 16px;
            margin: 0px 20px;
            border-radius: 5px;
            background-color: #000;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            color: #fff;
            font-size: 13px;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
        }
    }

    .reference {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        background-color: #f9f9fb;
    }

}


.sticky {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
}

main {

    height: 100vh;
    max-width: 100vw;
    /* background-color: pink; */
    display: flex;

    .layout {
        width: 200px;
        /* background-color: rgb(139, 224, 255); */
    }

    .leftside {
        flex-grow: .3;
        background-color: #fff;

        .filter{
            width: 100px;
            height: 35px;
            padding: 08px 10px;
            margin: 30px 10px;
            border: 1px solid #4e4e4e;
            color: #4e4e4e;
            border-radius: 30px;
            i{
                color: #4e4e4e;
            }
        }

        li{
            list-style-type: none;
            margin: 10px 0px;
            
            a{
                text-decoration: none;
                padding: 20px;
                color: #4e4e4e;
               
            }

        }
        
         .dropdown{
            display: none;
            padding: 10px;


         }

         li:hover .dropdown{
            display: block;
         }
    }
    

    .center {
        background-color: rgb(255, 255, 255);
        flex-grow: 2;
        overflow: auto;
        scrollbar-width:none;

        section {
            padding: 20;
            margin: 10px;


            h1 {
                font-size: 3.5rem;
            }

            h4 {
                font-size: 2;
                margin-top: 20px;
            }

            span {
                font-weight: 700;
                font-size: 17px;
            }

            p {
                line-height: 2rem;
                font: 1em;
                color: #4e4e4e;

            }
        }
    }


    .rightside {
        flex-grow: .2;
        /* background-color: rgb(2, 77, 77); */
        background-color: #fff;
        color: #4e4e4e;
        font-size: 13px;
        padding: 20px;

        h4{
            margin-bottom: 20px;
            font-size: 25px;
        }
        ul{
            border-left:3px solid #4e4e4e;
                border-radius: 5px;
                padding: 3px;
                margin-left: 30px;
            li{
                list-style-type: none;
                font-size: 16px;
                padding: 5px;
    
    
                
    
                a{
                    text-decoration: none;
                    color: #4e4e4e;
                    line-height: 30px;
    
                   
                }
                
            }
            
        }
    }
}


@media only screen and (max-width : 1000px){
    nav{
        display: none;
    }
    .leftside {
       display: none;
      }
      

      .layout {
       flex-direction: row-reverse;
      }
}

@media only screen and (max-width : 750px){
    .rightside {
        display: none;
       }
       
 
}

